:host,
#participant-list,
video {
    width: 100% !important;
    height: 100% !important;
}

#participant-list {
    border: solid 6px rgb(34, 34, 34);
    background-color: rgb(38, 38, 38);
}

.hidden {
    display: none;
}

#alone {
    height: 100%;
}

#alone.table {
    display: table;
}

div > p {
    vertical-align: middle;
    display: table-cell;
    padding: 0 10%;
}