<div id="participant-list">
    <div id="alone" [ngClass]="{ 'table': isAlone, 'hidden': !isAlone }">
        <p class="text-center text-monospace h3" style="display: table-cell">
            You're the only one in this room. <i class="far fa-frown"></i>
            <br />
            <br />
            As others join, they'll start showing up here...
        </p>
    </div>
    <!--
        TODO:
        Add a list of participants, by their identity.
        Make the list items become a click target.
        Clicking a participant will make them their video most prominent.
        Future: Watch for the dominantSpeaker feature to be implemented and do this automatically.
    -->
    <div #list [ngClass]="{ 'hidden': isAlone }">
        <button type="button" class="close float-right"
                title="Click to leave this room." (click)="onLeaveRoom()">
            <i class="fas fa-2x fa-times-circle" style="color: #F22F46"></i>
        </button>
    </div>
</div>